@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');

:root {
    --oblack: rgba(12, 17, 23, 0.7);
}

* {
    margin: 0;
    padding: 0;
    font-family: "SUSE";
    color: whitesmoke;
    font-weight: bold;
}

body {
    background-color: whitesmoke;
    background-image: url("pics/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: var(--oblack);
}

nav a {
    text-decoration: none;
    margin: 1em;
}

.content {
    background-color: var(--oblack);
    max-width: 70%;
    margin: 2rem auto;
    box-shadow: black 0.7rem 0.7rem 1rem;
    border-radius: 0.5rem;
    text-align: center;
    padding: 1rem;
}

.content h1 {
    text-shadow: gray 0.1rem 0.1rem 0.1rem;
}

.brief-intro {
    border: 1px solid whitesmoke;
    background-color: rgba(245, 245, 245, 0.7);
    border-radius: 0.5rem;
    padding: 1rem;
    transition: all 0.3s linear;
}

.brief-intro p {
    text-align: justify;
}

.brief-intro-btn {
    padding: 0.3rem;
    margin: 0.3rem;
    border: none;
    border-radius: 100%;
    cursor: pointer;
    transition: all 0.3s linear;
}

.brief-intro-btn:hover {
    background-color: gray;
}

#main-navbar {
    padding: 0.7rem;
}

#main-navbar a {
    transition: all 0.3s linear;
}

#main-navbar a:hover {
    color: rgb(67, 76, 94);
}

.smallerimg {
    max-width: 10%;
}